<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить домены</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% if not message is empty %}
<div class="alert alert-success" role="alert" align="center">
    {{message}}
</div>
{% endif %}

<form name="add-domain" style="padding-left:100px;padding-top:30px">
    <div class="form-group">
        <label for="domainTextarea">Add domain</label>
        <textarea class="form-control" style="width:40%;" id="domainTextarea" name="domain" rows="10"></textarea>
        <label for="start" class="col-2 col-form-label">Start</label>
        <div class="col-10">
            <input class="form-control" style="width:40%;" type="datetime-local" value="" id="start">
        </div>
        <label for="end" class="col-2 col-form-label">End</label>
        <div class="col-10">
            <input class="form-control" style="width:40%;" type="datetime-local" value="" id="end">
        </div>
    </div>
    <input type="submit" name="submit" class="btn btn-primary" value="Отправить">
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>